@font-face {
  font-family: 'Ostrich Sans';
  src:
    url('fonts/ostrich-sans-inline-regular.woff'),
    url('fonts/ostrich-sans-inline-regular.ttf'),
    url('fonts/ostrich-sans-inline-regular.svg'),
    url('fonts/ostrich-sans-inline-regular.eot');
}


body {
  background-color: #b6dbba;
}

h1 {
  font-family: 'Ostrich Sans', sans-serif;
  color: white;
  font-size: 4em;
  padding-left: 30px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  text-align: center;
  font-size: 2em;
  padding-top: 150px;
  padding-bottom: 20px;
}

p {
  font-family: 'EB Garamond', serif;
  color: #73a37a;
  font-size: 2em;
}

.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.choice {
  padding: 50px;
  text-align: center;
  background-color: #e1efe3;
  margin-bottom: 30px;
}

.or {
  margin-top: 150px;
  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
}



.choice:hover {
  background-color: white;
}
a:link, a:visited {
  text-decoration: none;
}

home:link, a:visited {
  color: #315e34;
}

#no-top {
  padding-top: 40px;
  margin-top: 0;
}

#more-bottom {
  margin-bottom: 100px;
}

h3 {
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  padding-left: 30px;
  padding-top: 15px;
  color: #315e34;
  background-color: white;
  width: 200px;
  padding-bottom: 15px;
  margin-left: -10px;
}

@media only screen and (max-width: 480px) {
  h1 {
    line-height: 60px;
    font-size: 3em;
    text-align: left;
  }
}
